/* Google Fonts start */
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Google Fonts end */

/* header end */
.logo {
  font-family: "Edu TAS Beginner", cursive;
}
.logo span {
  -webkit-text-stroke: #0d6efd;
  -webkit-text-stroke-width: 2px;
  color: white;
  font-family: "Edu TAS Beginner", cursive;
}
/* header end */

/* banner start */
#banner {
  margin-top: 150px;
}
.my-btn {
  transition: all 0.3s ease-in;
}
.my-btn:hover {
  background-color: transparent;
  color: black;
}
a i {
  margin-left: 10px;
}
.social_icons i {
  font-size: 30px;
  transition: all 0.4s ease-out;
}
.social_icons #fb {
  color: #087ae9;
}
.social_icons #in {
  color: #0076b3;
}
.social_icons #github {
  color: #000000;
}
.social_icons i:hover {
  transform: scale(1.5);
}
.devider {
  height: 2px;
  border-width: 0;
  width: 80%;
  margin: 120px auto;
  color: rgb(241, 241, 241);
  background-color: rgb(219, 219, 219);
}
/* banner end */
.card_hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card_hover:hover {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
#about {
  background: url(../images/left-bg.png);
  background-repeat: no-repeat;
}
#education {
  background: url(../images/right-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
#experience {
  background: url(../images/left-bg.png);
  background-repeat: no-repeat;
}
#projects {
  background: url(../images/right-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
#publications {
  background: url(../images/left-bg.png);
  background-repeat: no-repeat;
}
#honors_awards {
  background: url(../images/right-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
#licenses_certifications {
  background: url(../images/left-bg.png);
  background-repeat: no-repeat;
}
